{{ define "main" }}
    <div>
        <div class='mainbg'>
            {{ if .Site.Params.backgroundImage }}
                <img src="{{ .Site.Params.backgroundImage }}" alt="Background" class="background-image">
            {{ else }}
                <div class="background-media" aria-hidden="true">
                    <video autoplay muted loop playsinline>
                        {{ if .Site.Params.background }}
                            <source src="{{ .Site.Params.backgroundVideo }}" type="video/mp4">
                        {{ else }}
                            <source src="{{ "bg.mp4" | relURL }}" type="video/mp4">
                        {{ end }}
                    </video>
                </div>
            {{ end }}
            <div class="home-layout">
                <div class="sideimage">
                    <img src="{{ "clovelogo.png" | relURL }}" alt="{{ .Site.Params.title }} logo" class="side-image">
                </div>
                <div class='content'>
                    <div>
                        <div class='contenthead'>
                            <h3 class='contentheading'>{{ .Site.Params.header }}</h3>

                            <canvas
                                id="scrollingCanvas"
                                width="480"
                                height="50"
                                data-text="{{ .Site.Params.scrollingText }}"
                                aria-label="{{ .Site.Params.scrollingText }}"
                            ></canvas>
                        </div>
                        <div class='contentbtn'>
                            
                            {{ range .Site.Params.links }}
                                <a href="{{ .url }}" class='btn btn-outline-light' role='button' 
                                    {{ if or (.newTab | default false) }}
                                        target="_blank"
                                    {{ else }}
                                        target="_self"
                                    {{ end }}
                                >{{ .name }}</a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="posters">
            <img src="{{ "poster1.png" | relURL }}" alt="Poster 1" class="poster">
            <img src="{{ "poster2.png" | relURL }}" alt="Poster 2" class="poster">
            <img src="{{ "poster3.png" | relURL }}" alt="Poster 3" class="poster">  
            <img src="{{ "poster4.png" | relURL }}" alt="Poster 4" class="poster">
        </div>

    </div>

    <!-- JS for typewritter -->
    <script>
        const textArray = {{ with .Site.Params.phrases }}{{ . | jsonify | safeJS }}{{ else }}["Welcome"]{{ end }};
    </script>
    <script src='/js/script.js'></script>
    <script src="{{ "js/scroll.js" | relURL }}"></script>
{{ end }}
